{% extends 'base.html' %} {% block title %} {{ musica.name }} ({{
    musica.release_year }} {% endblock title %} {% block content %}
    <h2>Detalhes da música {{ musica.name }} ({{ musica.release_year }})</h2>
    
    <section class="dados-de-musica">
      <img src="{{ musicas.poster_url }}" alt="Capa da música {{ musicas.name}}" />
      <ul>
        <li>Nome: {{ musicas.name }}</li>
        <li>Ano de Lançamento: {{ musicas.release_year }}</li>
        <li><a href="{% url 'musicas:update' musicas.id %}">Editar</a></li>
        <li><a href="{% url 'musicas:delete' musicas.id %}">Apagar</a></li>
      </ul>
    </section>
    
    {% endblock content %}