{% extends 'base.html' %} {% block title %} {{ musica.name }} ({{
    musica.release_year }} {% endblock title %} {% block content %}
    <h2>Detalhes da música {{ musicas.name }} ({{ musicas.release_year }})</h2>
    
    <section class="dados-de-musica">
      <img src="{{ musicas.poster_url }}" alt="Capa da música {{ musicas.name}}" />
      <ul>
        <li>Nome: {{ musicas.name }}</li>
        <li>Ano de Lançamento: {{ musicas.release_year }}</li>
        <li>Publicado em: {{ musicas.created_at|date:"d M Y H:i" }}</li>
        <li><a href="{% url 'musicas:update' musicas.id %}">Editar</a></li>
        <li><a href="{% url 'musicas:delete' musicas.id %}">Apagar</a></li>
        {% if musicas.list_set.all %}
            <li>Incluso nas Listas: {{ musicas.list_set.all|join:", " }} </li>
        {% endif %}
      </ul>
      <hr>

      <section>
          <header>
              <h3>Comentários</h3>
          </header>
          <ul>
              {% if musicas.comment_set.all %}
                  {% for comment in musicas.comment_set.all %}
                      <figure>
                          <blockquote>
                              "{{ comment.text }}"
                          </blockquote>
                          <figcaption>—{{ comment.author }} comentou: {{ comment.created_at|date:"d M Y H:i" }}</figcaption>
                      </figure>
                  {% endfor %}
              {% else %}
                  <p>Ainda não existe nenhum comentário.</p>
              {% endif %}
          </ul>
          <hr>
          <a href="{% url 'musicas:comment' musicas.pk %}"><button>Deixe seu comentário</button></a>
      </section>
    
    {% endblock content %}