{% extends 'base.html' %} {% block content %}
<h2>Todas as músicas</h2>
<section>
  <p>
    Muitos resultados? <a href="{% url 'musicas:search' %}">Buscar</a>
  </p>
  <p>
    Não encontrou a música?
    <a href="{% url 'musicas:create' %}">Adicionar música</a>
  </p>
</section>
{% if musicas_list %}
<section class="lista-de-cards">
  {% for musicas in musicas_list %}
  <article class="card">
    <a href="{% url 'musicas:detail' musicas.id %}"> 
        <img src="{{ musicas.poster_url }}" alt="Capa da música {{ musicas.name }}" />
    </a>
    <p>{{ musicas.name }} ({{ musicas.release_year }})</p>
  </article>
  {% endfor %}
</section>
{% endif %} {% endblock %}